<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BRSiConProspects.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="BRSiConProspects.Properties.Settings.SiConCurrentDevConnectionString2"
   connectionString="Data Source=veagle\sql2008;Initial Catalog=SiConCurrentDev;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<applicationSettings>
		<BRSiConProspects.Properties.Settings>
   <setting name="BRSiConProspects_PlotWebServiceProspectsInterfaceReference_ProspectsInterface"
    serializeAs="String">
    <value>http://localhost/PlotWebService/ProspectsInterface.asmx</value>
   </setting>
  </BRSiConProspects.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>
