<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Ekto.Plot_CurrentTest_ConnectionStringSiCon" value="connect timeout=10;data source=vEkto.pottsmullarkey.com\sql2019;initial catalog=Plot_CurrentTest;user id=sa;password=ch3st3r#" />
</appSettings>  
</configuration>