<?xml version="1.0" encoding="utf-8"?>
<!---->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BRSiCon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--
    Image Library Web Services. This is the URL for connecting to the Image Library Web Services.
    This will need to be set to the correct URL for your environment.
  -->
  <applicationSettings>
    <BRSiCon.Properties.Settings>
      <setting name="BRSiCon_ImageLibraryWS_ImageLister" serializeAs="String">
        <value>http://vplotws2012/ImageLibraryWebService/ImageLister.asmx</value>
      </setting>
      <setting name="BRSiCon_ImageLibraryUploaderWS_ImageUploader" serializeAs="String">
        <value>http://vplotws2012/ImageLibraryWebService/ImageUploader.asmx</value>
      </setting>
      <setting name="BRSiCon_GoPristine_GoPristine" serializeAs="String">
        <value>http://vplotws2012/GoPristineDummyApplication/GoPristine.asmx</value>
      </setting>
      <setting name="BRSiCon_CSeriesDD_PayCentreService" serializeAs="String">
        <value>http://aledpc/CSeriesDD/PayCentreService.asmx</value>
      </setting>
      <setting name="BRSiCon_PlotWebService_Utility_Utility" serializeAs="String">
        <value>http://vplotws2012/PlotWebService/Utility.asmx</value>
      </setting>
      <setting name="BRSiCon_ProspectsWebService_Utility_Utility" serializeAs="String">
        <value>http://vplotws2012/ProspectsWebService/Utility.asmx</value>
      </setting>
    </BRSiCon.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!--For use with the ImageLibary a user need to be in Plot with this username and password, and the user right Image Library User.-->
    <add key="ImageLibraryWSLogin" value="IMGLIBWS" />
    <add key="ImageLibraryWSPassword" value="Password0" />
    <add key="ProspectsInstallationDirectory" value="C:\Program Files (x86)\Plot Control Remoting Server\" />
    <add key="ProspectsPlugin" value=".\brsiconprospects.dll;BRSiConProspects.Server.Prospect.BRProspectFacade" />
    <!--Transaction Management-->
    <!--This allows transactions to be set to be always on (TRUE) or-->
    <!--to be turned into there conditional state to aid performance-->
    <!--and reduce contension (FALSE)-->
    <!---->
    <add key="ForceTransactionsOn" value="FALSE" />
    <!--SNMP Monitoring Settings-->
    <add key="SnmpEnabled" value="TRUE" />
    <add key="SnmpAgentPortNumber" value="200" />
    <add key="TrapDestinationHostName" value="localhost" />
    <add key="TrapDestinationPort" value="161" />
    <add key="PAFPath" value="c:\paf" />
    <add key="BookingsInterfacePath" value="c:\PBInt" />
    <!--When TRUE connection pools will be doomed after a timeout.-->
    <add key="KillPoolsOnTimeout" value="TRUE" />
    <!--Reports installation path-->
    <add key="ReportPath" value="\\VPLOTTESTWIN7\Plot Control\Reports\" />
    <!--Where plot stores temporary files used to generate documents.  This must be a folder all users have and can write to.-->
    <add key="TempFolder" value="c:\PlotTemp" />
    <!--The number of seconds plot should wait for PDF creation to happen-->
    <add key="PDFFileCreationTimeout" value="30" />
    <!--The printer que name for PDFCreator-->
    <add key="PDFCreatorQName" value="PDFCreator" />
    <add key="SMTPServerName" value="vplotrs2012" />
    <add key="WebSMTPServerName" value="vplotrs2012" />
    <add key="WebEMailFromAddress" value="test@parcvu.com" />
    <add key="ProspectsEMailFromAddress" value="test@parcvu.com" />
    <!--SeaWare interface park exclusions-->
    <add key="seaWareParkExclusions" value="PD, SR, TQ, WE, WL, WR, CE, GW, HH, HR" />
    <add key="DebugLogsPath" value="C:\Remoting\DebugLogs\" />
    <!--Setting for separating Blade 1 and Blade 2 Cancelled Sales-->
    <add key="Blade2CancelledSalesStartDate" value="01 Aug 2003" />
    <!--Period (Number of days) in which a user can cancel a sale after it is sold-->
    <add key="CancellationPeriod" value="730" />
    <!--Age of van that appears in Find Available Stock (All Parks Available Stock)-->
    <add key="FindAvailableStockWeeks" value="10" />
    <!--The Logging levels are 1 = Errors, 2 = Calls, 3 = Info. The higher levels will automatically include lower level logs-->
    <add key="DiskLoggingLevel" value="3" />
    <add key="ConsoleLoggingLevel" value="3" />
    <!--Web Address-->
    <add key="OEWebSiteAddress" value="https://localhost/OEWebCurrent/" />
    <!--Start date (dd/mm/yyyy) for 2.5 Sales Process Rules-->
    <add key="2_5SalesProcessRulesStartDate" value="26/4/2007" />
    <!--Hide or show Prospects Phase 1/2 forms: remoting server and client configs must be kept in line-->
    <add key="ShowProspectsPhase2" value="TRUE" />
    <!--JUNE 2008 - PLOT 2.8 DEV keys - START, these will be removed later-->
    <!--Use the new process for letting records after van replacement-->
    <add key="SplitLettingRecordsOnVanReplacement" value="TRUE" />
    <!--Create new letting record on cancelled N Sales-->
    <add key="CreateNewLettingRecordOnCancelNSale" value="TRUE" />
    <!--Use new CSI, version 2-->
    <add key="UseCSIVersion2" value="TRUE" />
    <!--JUNE 2008 - PLOT 2.8 DEV keys - END, these will be removed later-->
    <!--For use by the Prospects Dedupe process-->
    <add key="DedupeLogEmailToAddress" value="test@parcvu.com" />
    <add key="DedupeLogFileLocation" value="\\enigma\public\Bourne\DedupeOutput\" />
    <add key="DedupeRunDaysGap" value="14" />
    <add key="DedupeStartFromIDForTesting" value="0" />
    <!--For use by the Archiving process-->
    <add key="ArchivingTimeoutSeconds" value="7200" />
    <!--Set to TRUE by installer-->
    <add key="ForceReportPath" value="TRUE" />
    <!--Development reports path-->
    <add key="DevReportPath" value="..\\..\\..\\..\\" />
    <!--Set to TRUE by prospect installer-->
    <add key="ForceProspectReportPath" value="TRUE" />
    <!--Reports installation path-->
    <add key="ProspectReportPath" value="\\VPLOTTESTWIN7\Plot Control\ProspectReports\" />
    <!--Development reports path-->
    <add key="DevProspectReportPath" value="..\..\..\..\..\..\SiConProspects\SiCon" />
    <!--The list of parks that do not use dogs allowed flag-->
    <add key="PetfriendlyExcludedParks" value="BR,RV,LY" />
    <!--The list of letting category prefixes that set the dogs allowed flag to true-->
    <add key="PetfriendlyPrefixes" value="BZ, BZW, F4S, GG, CB, AB, CG2P, CS2X" />
    <!--The URL for the location of the Bourne Document Library - it must end with a trailing /-->
    <add key="BourneDocumentLibraryUrl" value="http://vplotws2012/DocumentLibraryTest/api/GetDocument/" />
    <!--Settings for the login details of rows in SEAWARE_DB_NAMES-->
    <add key="Seaware_ORACLE11G_UserId" value="seawaretest" />
    <add key="Seaware_ORACLE11G_Password" value="password" />
    <!--Controls whether this remoting server instance is going to process change tracking for event generation-->
    <add key="ProcessTrackedChanges" value="Yes" />
    <!---->
    <!--***** Database Settings for database 'Ekto.Plot_CurrentTest_' *****-->
    <!--E K T O   PM T E S T-->
    <add key="Ekto.Plot_CurrentTest_ConnectionStringSiCon" value="connect timeout=10;data source=vEkto\sql2019;initial catalog=Plot_CurrentTest;user id=SiConPlot_CurrentTestUser;password=jeislfh73bd8j3hs03ks63hfr93gh2vcsa7;MultipleActiveResultSets=true" />
    <add key="Ekto.Plot_CurrentTest_ConnectionStringSiConArchive" value="connect timeout=10;data source=vEkto\sql2019;initial catalog=BladeLivArchiving;user id=SiConPlot_CurrentTestUser;password=jeislfh73bd8j3hs03ks63hfr93gh2vcsa7" />
    <add key="Ekto.Plot_CurrentTest_ConnectionStringSiConReport" value="connect timeout=10;data source=vEkto\sql2019;initial catalog=Plot_CurrentTest;user id=SiConPlot_CurrentTestUser;password=jeislfh73bd8j3hs03ks63hfr93gh2vcsa7" />
    <add key="Ekto.Plot_CurrentTest_ConnectionStringSiConReplicated" value="connect timeout=10;data source=vEkto\sql2019;initial catalog=Plot_CurrentTest;user id=SiConPlot_CurrentTestUser;password=jeislfh73bd8j3hs03ks63hfr93gh2vcsa7" />
    <add key="Ekto.Plot_CurrentTest_ConnectionStringDream" value="connect timeout=10;data source=vEkto\sql2019;initial catalog=P_CT_D;user id=SQSDBA;password=password" />
    <add key="Ekto.Plot_CurrentTest_ConnectionStringDDExpert" value="connect timeout=10;data source=ekto;initial catalog=DDExpert;user id=DDExpert;password=ch3st3r" />
    <add key="Ekto.Plot_CurrentTest_ConnectionStringDDExpert_Modulus" value="connect timeout=10;data source=ekto;initial catalog=DDExpert_Modulus;user id=DDExpert_Modulus;password=ch3st3r" />
    <add key="Ekto.Plot_CurrentTest_ConnectionStringUserAutomation" value="connect timeout=10;data source=ekto;initial catalog=BourneUserAutomation_18832;user id=sa;password=ch3st3r" />
    <add key="Ekto.Plot_CurrentTest_DreamServer" value="vEkto\sql2019" />
    <add key="Ekto.Plot_CurrentTest_DreamDatabase" value="P_CT_D" />
    <add key="Ekto.Plot_CurrentTest_DreamUser" value="SQSDBA" />
    <add key="Ekto.Plot_CurrentTest_DreamPassword" value="password" />
    <add key="Ekto.Plot_CurrentTest_DreamCompany" value="MAIN" />
    <add key="Ekto.Plot_CurrentTest_RunScheduler" value="FALSE" />
    <add key="Ekto.Plot_CurrentTest_RunChangeTracking" value="TRUE" />
    <add key="Ekto.Plot_CurrentTest_SolveServer" value="10.198.50.97" />
    <add key="Ekto.Plot_CurrentTest_SolvePort" value="7000" />
    <add key="Ekto.Plot_CurrentTest_SolveEnforceCSC" value="TRUE" />
    <add key="Ekto.Plot_CurrentTest_RunUploader" value="TRUE" />
    <add key="Ekto.Plot_CurrentTest_FullDecoupleDream" value="TRUE" />
    <!--This setting can be used to redirect some outgoing email to a specific email address.-->
    <add key="Ekto.Plot_CurrentTest_EMailRedirection" value="test@parcvu.com" />
    <!--These are correct, please don't change them-->
    <add key="Ekto.Plot_CurrentTest_SSRSServerName" value="http://veagle/ReportserverSQL2019/" />
    <add key="Ekto.Plot_CurrentTest_SSRSParkUserName" value="PVS\SSRSParkUser" />
    <add key="Ekto.Plot_CurrentTest_SSRSParkPassword" value="P4rkus3r#" />
    <add key="Ekto.Plot_CurrentTest_SSRSHOUserName" value="PVS\SSRSHOUser" />
    <add key="Ekto.Plot_CurrentTest_SSRSHOPassword" value="H0us3r#" />
    <add key="Ekto.Plot_CurrentTest_ConnectionStringSeaware" value="User Id=seawaretest;Password=password;Data Source=oracle11g;Min Pool Size=0" />
    <add key="Ekto.Plot_CurrentTest_ConnectionStringSeawareOld" value="User Id=oldseaware;Password=oldseaware;Data Source=oracle9;Min Pool Size=0" />
    <add key="Ekto.Plot_CurrentTest_SSRSParkRoot" value="/TestCurrent" />
    <add key="Ekto.Plot_CurrentTest_SSRSHORoot" value="/TestCurrent" />
    <add key="Ekto.Plot_CurrentTest_SSRSProspectsParkRoot" value="/TestCurrent" />
    <add key="Ekto.Plot_CurrentTest_SSRSProspectsHORoot" value="/TestCurrent" />
    <!---->
    <!--***** Database Settings for database 'Eagle.SiConCurrentDev_' *****-->
    <add key="Eagle.SiConCurrentDev_ConnectionStringSiCon" value="connect timeout=10;data source=virtual2012;initial catalog=bladeliv;user id=sa;password=ch3st3r;MultipleActiveResultSets=true" />
    <add key="Eagle.SiConCurrentDev_ConnectionStringSiConArchive" value="connect timeout=10;data source=virtual2012;initial catalog=bladelivarchiving;user id=sa;password=ch3st3r" />
    <add key="Eagle.SiConCurrentDev_ConnectionStringSiConReport" value="connect timeout=10;data source=veagle\sql2019;initial catalog=SiConCurrentDev;user id=sa;password=ch3st3r" />
    <add key="Eagle.SiConCurrentDev_ConnectionStringSiConReplicated" value="connect timeout=10;data source=veagle\sql2019;initial catalog=SiConCurrentDev;user id=sa;password=ch3st3r" />
    <add key="Eagle.SiConCurrentDev_ConnectionStringDream" value="connect timeout=10;data source=veagle\sql2019;initial catalog=P_CT_D;user id=SQSDBA;password=password" />
    <add key="Eagle.SiConCurrentDev_ConnectionStringDDExpert" value="connect timeout=10;data source=eagle;initial catalog=DDExpert;user id=DDExpert;password=ch3st3r" />
    <add key="Eagle.SiConCurrentDev_ConnectionStringDDExpert_Modulus" value="connect timeout=10;data source=eagle;initial catalog=DDExpert_Modulus;user id=DDExpert_Modulus;password=ch3st3r" />
    <add key="Eagle.SiConCurrentDev_ConnectionStringUserAutomation" value="connect timeout=10;data source=eagle;initial catalog=BourneUserAutomation_18832;user id=sa;password=ch3st3r" />
    <add key="Eagle.SiConCurrentDev_DreamServer" value="virtual2012" />
    <add key="Eagle.SiConCurrentDev_DreamDatabase" value="P_CT_D" />
    <add key="Eagle.SiConCurrentDev_DreamUser" value="SQSDBA" />
    <add key="Eagle.SiConCurrentDev_DreamPassword" value="password" />
    <add key="Eagle.SiConCurrentDev_DreamCompany" value="MAIN" />
    <add key="Eagle.SiConCurrentDev_RunScheduler" value="FALSE" />
    <add key="Eagle.SiConCurrentDev_RunChangeTracking" value="FALSE" />
    <add key="Eagle.SiConCurrentDev_SolveServer" value="10.198.50.97" />
    <add key="Eagle.SiConCurrentDev_SolvePort" value="7000" />
    <add key="Eagle.SiConCurrentDev_SolveEnforceCSC" value="TRUE" />
    <add key="Eagle.SiConCurrentDev_RunUploader" value="FALSE" />
    <add key="Eagle.SiConCurrentDev_FullDecoupleDream" value="TRUE" />
    <add key="Eagle.SiConCurrentDev_EMailRedirection" value="test@parcvu.com" />
    <add key="Eagle.SiConCurrentDev_SSRSServerName" value="http://veagle/ReportserverSQL2019/" />
    <add key="Eagle.SiConCurrentDev_SSRSParkUserName" value="SSRSParkUser" />
    <add key="Eagle.SiConCurrentDev_SSRSParkPassword" value="" />
    <add key="Eagle.SiConCurrentDev_SSRSHOUserName" value="SSRSHOUser" />
    <add key="Eagle.SiConCurrentDev_SSRSHOPassword" value="" />
    <add key="Eagle.SiConCurrentDev_ConnectionStringSeaware" value="User Id=seaware;Password=seaware;Data Source=oracle9;Min Pool Size=0" />
    <add key="Eagle.SiConCurrentDev_ConnectionStringSeawareOld" value="User Id=oldseaware;Password=oldseaware;Data Source=oracle9;Min Pool Size=0" />
    <add key="Eagle.SiConCurrentDev_SSRSParkRoot" value="/TestCurrent" />
    <add key="Eagle.SiConCurrentDev_SSRSHORoot" value="/TestCurrent" />
    <add key="Eagle.SiConCurrentDev_SSRSProspectsParkRoot" value="/TestCurrent" />
    <add key="Eagle.SiConCurrentDev_SSRSProspectsHORoot" value="/TestCurrent" />
    <!---->
    <!--***** Database Settings for database 'Ekto.Plot_AutoTest_' *****-->
  </appSettings>
  <system.runtime.remoting>
    <application>
      <!-- Setup the server channel and install the encryption and compression sinks -->
      <channels>
        <channel ref="tcp" name="FastLink" port="8082" secure="true">
          <serverProviders>
            <provider type="SFSiCon.Remoting.ClientIPInjectorSinkProvider,SFSiCon.Framework" />
            <provider type="SFSiCon.Remoting.Compression.CompressionServerSinkProvider,SFSiCon.Framework" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
        <channel ref="tcp" name="RestrictedLink" port="8083" secure="true">
          <serverProviders>
            <provider type="SFSiCon.Remoting.ClientIPInjectorSinkProvider,SFSiCon.Framework" />
            <provider type="SFSiCon.Remoting.Compression.CompressionServerSinkProvider,SFSiCon.Framework" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
        <channel ref="tcp" name="WebLink" port="8084" secure="true">
          <serverProviders>
            <provider type="SFSiCon.Remoting.ClientIPInjectorSinkProvider,SFSiCon.Framework" />
            <provider type="SFSiCon.Remoting.Compression.CompressionServerSinkProvider,SFSiCon.Framework" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>