<?xml version="1.0" encoding="utf-8"?>
<!---->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProspectsWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DiskLoggingLevel" value="0" />
    <!--The base Url to use when auto-registering remoting classes.  Must match configuration on server.-->
    <add key="DebugLogsPath" value="c:\Remoting\WebLog\" />
    <!---->
    <!--The DataBase name-->
    <!--<add key="DatabaseEnvironment" value="Ekto.Plot_CurrentTest_" />-->
    <!---->
    <add key="DatabaseEnvironment" value="Eagle.SiConCurrentDev_" />
    <!---->
    <!--Remoting Compression Level-->
    <!--Available options are NONE, BESTCOMPRESSION, BESTSPEED, DEFAULT-->
    <!--Recommended values are NONE if client is local to the remoting server e.g. CITRIX-->
    <!--otherwise use DEFAULT-->
    <!---->
    <add key="RemotingCompressionLevel" value="DEFAULT" />
    <!--Email Config for error messages-->
    <add key="SMTPServer" value="vplotrs2012" />
    <add key="ErrorEmailFromAddress" value="test@parcvu.com" />
    <add key="ErrorEmailToAddress" value="test@parcvu.com" />
    <add key="RSErrorEmailToAddress" value="test@parcvu.com" />
    <add key="RemotingBaseUrl" value="tcp://containerhost:9020/" />
    <add key="RemotingSlowUrl" value="tcp://containerhost:9020/" />
    <add key="RemotingWebUrl" value="tcp://containerhost:9020/" />
  </appSettings>
  <connectionStrings />
  <system.runtime.remoting>
    <application>
      <!-- Setup the server channel and install the encryption and compression sinks -->
      <channels>
        <channel ref="tcp" port="0" name="client">
          <clientProviders>
            <!-- Install the call context checker sink -->
            <provider type="SFSiConProspects.Remoting.PreRemotingCallClientSinkProvider,SFSiConProspects" />
            <!-- Serialise using the binary formatter  -->
            <formatter ref="binary" />
            <!-- Compress the formatted stream, ready for transmission using the channel -->
            <provider type="SFSiConProspects.Remoting.Compression.CompressionClientSinkProvider,SFSiConProspects" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
      <compilers>
        <compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE /o /checked+" />
      </compilers>
      <assemblies>
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.VisualC, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <applicationSettings>
    <ProspectsWebService.Properties.Settings>
      <setting name="ProspectsWebService_PlotWebLoginServiceReference_LoginService" serializeAs="String">
        <value>http://vplotws2012/PlotWebService/LoginService.asmx</value>
      </setting>
      <setting name="SiConDevConnectionString" serializeAs="String">
        <value></value>
      </setting>
    </ProspectsWebService.Properties.Settings>
  </applicationSettings>
</configuration>