<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Eagle.SiConCurrentDev_ConnectionStringSiCon" value="connect timeout=10;data source=veagle.pottsmullarkey.com\sql2019;initial catalog=SiConCurrentDev;user id=sa;password=ch3st3r#" />
  </appSettings>  
</configuration>