<?xml version="1.0" encoding="utf-8"?>
<!---->
<configuration>
  <configSections>
    <section name="databaseSection" type="System.Configuration.SingleTagSectionHandler" />
    <sectionGroup name="databasesGroup">
      <section name="databasesSection" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!-- Prevents unhandled exceptions from causing the application to close. -->
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Physical" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Json" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileSystemGlobbing" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.EnvironmentVariables" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.CommandLine" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.UserSecrets" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.EventLog" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Console" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Debug" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.EventSource" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options.ConfigurationExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.3.0" newVersion="4.6.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ProspectsPlugin" value=".\SiConProspects.dll;SiConProspects.Prospect.ProspectsFacade" />
    <!--Environment sets the subset of databases in the logon identified by-->
    <!--the matching name at the start of the database value section.-->
    <!--Values set in the client setup are PM, TEST, LIVE and LIVEREP-->
    <add key="Environment" value="PM" />
    <!--Set to TRUE by installer-->
    <add key="ForceReportPath" value="TRUE" />
    <!--Reports installation path-->
    <!--*************************************************************************************-->
    <!--*** The ReportPath MUST contain a full path, not a relative path otherwise after  ***-->
    <!--*** a report export the load path will be incorrect and subsequent reports will   ***-->
    <!--*** not load. e.g. use "C:\foo\bar\reports\" not "foo\bar\reports"                ***-->
    <!--*************************************************************************************-->
    <add key="ReportPath" value="\\VPLOTTESTWIN7\Plot Control\Reports" />
    <!--Development reports path-->
    <add key="DevReportPath" value="..\..\..\.." />
    <!--SSRS DevCurrent Maintenance Reports Path-->
    <add key="SSRSDevReportPath" value="/DevCurrent/" />
    <!--The default zoom level for the SSRS report viewer-->
    <!--Set to 100 for 2005 reports; 32 for 2008 reports.-->
    <add key="SSRSReportViewerZoom" value="32" />
    <!--Set to TRUE by prospect installer-->
    <add key="ForceProspectReportPath" value="TRUE" />
    <!--Reports installation path-->
    <add key="ProspectReportPath" value="\\VPLOTTESTWIN7\Plot Control\ProspectReports\" />
    <!--Development reports path-->
    <add key="DevProspectReportPath" value="..\..\..\..\..\..\SiConProspects\SiCon" />
    <!--Output path for Mail Merge files-->
    <add key="MailMergePath" value="C:\SiCon\MailMergeFiles\" />
    <!--PDF Device Type-->
    <add key="PDFDeviceType" value="tiff32nc" />
    <!--PDF Resolution-->
    <add key="PDFResolution" value="300" />
    <!--Output path for the bookings interface-->
    <add key="BookingsInterfaceReportPath" value="C:\PBInt\" />
    <!--The default Message Text when printing statements-->
    <add key="StatementMessageTextDefault" value="W7" />
    <!--The default Message Text when printing statements-->
    <add key="StatementMessageTextInCreditDefault" value="W7" />
    <!--These settings can be used to disable new functionallity if required-->
    <!--Unvalidate Sale functionality-->
    <add key="EnableUnValidateSaleFunction" value="FALSE" />
    <!--Card Payment functionality-->
    <add key="EnableCardTransactions" value="FALSE" />
    <!--Plot Help Screens functionality-->
    <add key="EnableHelpScreens" value="TRUE" />
    <!--Bug reporting settings (in development)-->
    <add key="AllowBugReporting" value="FALSE" />
    <add key="SMTPServerName" value="vplotrs2012" />
    <add key="BugReportEmail" value="test@parcvu.com" />
    <!--Condictional System Features-->
    <add key="Features" value="" />
    <!--SeaWare interface park exclusions-->
    <add key="seaWareParkExclusions" value="PD, SR, TQ, WE, WL, WR, CE, GW, HH, HR" />
    <!--Client logging directory-->
    <add key="DebugLogsPath" value="c:\clientlogs\" />
    <!--Storage location on each client for mail merge document manipulation-->
    <add key="ProspectsDocumentStoragePath" value="c:\ProspectDocs\" />
    <!--The start port number used by Async Messaging between client and server-->
    <add key="AsyncPortRangeStart" value="5000" />
    <!--Remoting Compression Level-->
    <!--Available options are NONE, BESTCOMPRESSION, BESTSPEED, DEFAULT-->
    <!--Recommended values are NONE if client is local to the remoting server e.g. CITRIX-->
    <!--otherwise use DEFAULT-->
    <!--25/08/2010 RPS Compression level had been changed to BESTSPEED but this resulted in index out of range errrors in NzLib.-->
    <add key="RemotingCompressionLevel" value="DEFAULT" />
    <add key="CheckLoginLimit" value="TRUE" />
    <!--Where Plot stores temporary files used to generate documents.  This must be a folder all users have and can write to.-->
    <add key="TempFolder" value="c:\PlotTemp" />
    <!--Where Prospects stores documents generated.  This must be a folder all users have and can write to.-->
    <add key="ProspectsSavedDocumentsFolder" value="c:\ProspectsSavedLetters" />
    <add key="ForceTransactionsOn" value="FALSE" />
    <!--11901-->
    <add key="StatementsReportsTool" value="CRYSTAL" />
    <add key="PrintInsuranceCertificateUsingCrystal" value="TRUE" />
    <add key="ShowWordPrintDialogBoxByDefault" value="1" />
    <add key="ShowCrystalPrintDialogBoxByDefault" value="1" />
    <!--Set OverrideCrystalPrintDialogBox to 1 to never show the Crystal printer dialog.-->
    <add key="OverrideCrystalPrintDialogBox" value="0" />
    <add key="ShowProspectsCustomReporting" value="TRUE" />
    <!--Hide or show Prospects Phase 1/2 forms: remoting server and client configs must be kept in line-->
    <add key="ShowProspectsPhase2" value="TRUE" />
    <!--Allow owners to be transferred across parks (with OL type OLPs)-->
    <add key="AllowOwnerParkTransfers" value="FALSE" />
    <!--Set UseSalesWizard to TRUE to use the NEW sales wizard.-->
    <add key="UseSalesWizard" value="TRUE" />
    <!--Set RemoveSalesFromPitchWizard to TRUE to remove the pitch status changes that create sales.-->
    <add key="RemoveSalesFromPitchWizard" value="TRUE" />
    <!--Find Available Stock (All Parks Available Stock) screen visible-->
    <add key="FindAvailableStockScreenVisible" value="TRUE" />
    <!--Apply the dedupe to the creation and editing of prospects?-->
    <add key="ApplyDedupeSingelton" value="TRUE" />
    <add key="RemotingBaseUrl" value="tcp://VPLOTRS2012:8082/" />
    <add key="RemotingSlowUrl" value="tcp://VPLOTRS2012:8083/" />
    <add key="RemotingWebUrl" value="tcp://VPLOTRS2012:8084/" />
    <!--The printer que name for PDFCreator-->
    <add key="PDFCreatorQName" value="PDFCreator - Plot" />
  </appSettings>
  <databasesGroup>
    <databasesSection>
      <!-- ====================================================================================== -->
      <!-- === The following items hold the database labels that appear in the logon			=== -->
      <!-- === drop down list and should match the names in the server config.				=== -->
      <!-- ===																				=== -->
      <!-- === The Environment list should appearas the first item in the value list.			=== -->
      <!-- === The value items are separated by spaces and the environment list by			=== -->
      <!-- === commas. The Environment set at the start of this config will specify			=== -->
      <!-- === the databases that appear in the logon screen.									=== -->
      <!-- ===																				=== -->
      <!-- === The value section is also used to hold a colour (in rgb values)				=== -->
      <!-- === followed by title that is displayed in the status bar of the application.		=== -->
      <!-- === This can be used to highlight to a user that they are in a Live/Test system.	=== -->
      <!-- === Please note that "255 251 247" is the default colour of the nav bar			=== -->
      <!-- === and if the value is left empty "255 251 247" will be used.						=== -->
      <!-- === Example Colours - Pastel Blue:  225 230 255									=== -->
      <!-- ===                   Pastel Pink:  255 220 220									=== -->
      <!-- ===                 Pastel Yellow:  255 255 190									=== -->
      <!-- ===                  Pastel Green:  215 255 215									=== -->
      <!-- ===                 Pastel Purple:  226 188 250									=== -->
      <!-- ====================================================================================== -->
      <!-- ============================================================================== -->
      <add key="Ekto.Plot_CurrentTest_" value="PM 226 188 250 Ekto.Plot_CurrentTest_" />
      <add key="Eagle.SiConCurrentDev_" value="PM 255 220 220 Eagle.SiConCurrentDev_" />
      <add key="Eagle.SiConCurrentDevFull_" value="PM 255 220 220 Eagle.SiConCurrentDevFull_" />
      <add key="Ekto.Plot_AutoTest_" value="PM 226 188 250 Ekto.Plot_AutoTest_" />
    </databasesSection>
  </databasesGroup>
  <system.runtime.remoting>
    <application>
      <!-- Setup the server channel and install the encryption and compression sinks -->
      <channels>
        <channel ref="tcp" port="0" name="client" secure="true">
          <clientProviders>
            <!-- Install the call context checker sink -->
            <provider type="SFSiCon.Remoting.PreRemotingCallClientSinkProvider,SFSiCon.Framework" />
            <!-- Serialise using the binary formatter  -->
            <formatter ref="binary" />
            <!-- Compress the formatted stream, ready for transmission using the channel -->
            <provider type="SFSiCon.Remoting.Compression.CompressionClientSinkProvider,SFSiCon.Framework" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>